@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --hsl-primary1: 198deg 93% 60% / 0;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    height: 8px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: var(--surface-variant);
    border-radius: 30px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--on-surface-variant);
    border-radius: 30px;
  }

  .scrollbar::-webkit-scrollbar-button {
    width: calc(25% - 28px);
  }

  .scrollbarLarge::-webkit-scrollbar {
    height: 10px;
  }

  .scrollbarLarge::-webkit-scrollbar-track {
    background: var(--surface-variant);
    border-radius: 35px;
  }

  .scrollbarLarge::-webkit-scrollbar-thumb {
    background: var(--on-surface-variant);
    border-radius: 35px;
  }

  .scrollbarLarge::-webkit-scrollbar-button {
    width: calc(30% - 120px);
  }

  .disable-scroll {
    overflow: hidden;
  }
}
