@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* For hsl(198deg 93% 60% / <alpha-value>) */
    --hsl-primary1: 198deg 93% 60% / 0;
  }
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    height: 6px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background: var(--surface-variant);
    border-radius: 30px;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--on-surface-variant);
    border-radius: 30px;
  }

  .scrollbar::-webkit-scrollbar-button {
    width: calc(25% - 28px);
  }
}
